/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* White */
  color: #000000; /* Black */
}

header {
  background-color: #a0001c;
  color: #ffffff;
  padding: 20px;
  display: flex; /* Add flex display */
  align-items: center; /* Align items vertically */
}

header i {
  margin-right: 10px; /* Add margin to the right of the icon */
  font-size: 24px;
}

header button#mainBtn {
  margin-left: auto;
  background-color: #ffffff;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
}
/* Container styles */
#container {
  padding: 20px;
}

/* Button styles */

button,
input[type="submit"] {
  background-color: #c0c0c0;
  color: #000000;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 20px;
}

button:hover {
  background-color: #004e89;
  color: #407ba7;
}

/* Form styles */
form {
  margin-bottom: 20px;
  background-color: #e5e7eb;
  padding: 20px;
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="number"] {
  padding: 8px;
  margin-bottom: 15px;
  width: calc(80% - 16px);
  border-radius: 10px;
}

/* Activity and Expense entry styles */
.activity-entry,
.expense-entry {
  display: flex;
  align-items: center;
}

.activity-entry input,
.expense-entry input {
  flex: 1;
  margin-right: 10px;
}

/* Footer styles */
footer {
  background-color: #002962;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
